.contact-section {
  margin: 2rem 0;
  padding: 3rem 0;
}

.contact-section h2 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #333;
  font-size: 2.3rem;
}

.contact-section p {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #666;
  font-size: 1.2rem;
}

.contact-section .text-area {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: none;
}

@media (max-width: 768px) {
  .contact-section h2 {
    font-size: calc(1.5rem + 1vw);
  }
  .contact-section p {
    font-size: calc(1rem + 0.5vw);
  }
}