.credential-section {
    font-family: 'Poppins', sans-serif;
    margin: 2rem 0;
    padding: 3rem 0;
}

.credential-header {
    text-align: center;
    margin: 4rem 0;
    color: #333;
}

.credential-header h2 {
    font-size: 2.3rem;
}

.credential-header p {
    font-size: 1.2rem;
    color: #666;
}

.education h3, .experience h3 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1.5rem ;
}

.timeline {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 12px;
  width: 2px;
  background: #3DC23F;
}

.timeline-item {
  position: relative;
  padding-left: 40px;
  margin-bottom: 2rem;
}

.timeline-icon {
  position: absolute;
  left: 3px; 
  top: 0;
  z-index: 1;
}

.icon{
  font-size: 16px;
  color: #3DC23F;
}

.timeline-content h5 {
  margin: 0 0 0.3rem;
  font-size: 1.1rem;
}

.timeline-content p {
    margin: 0.5rem 0;
    font-size: 1rem;
    color: #555;
}
.certificate-link {
    position: relative;
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}
.certificate-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -3px;
    background-color: blue;
    transition: width 0.3s ease;
}
.certificate-link:hover::after {
    width: 100%;
}